body{
     background-image: url("C:\Users\pameghan\reactdemos\eamt\src\images\Home.jpeg");}.form{
         text-align: center;}
.form label {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: block;}
.form input {
    border: 1px solid #ddd;
    padding: 0.5rem;
}
.form button {
     margin: 2rem;
    }
