body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height:0vh;
    width:auto;
    margin: auto;
  }
  
  fieldset {
    background-color: rgb(214, 233, 242);
  }
  
  input, label {
    display:flexbox;
    margin: 1em;
    border: none;
    align-items: center;
    text-align: center;
  }

  
  