.header{
    width:auto;
    height:5rem;
    padding:0rem;
    display:flexbox;
    align-items:right;
    justify-content:space-between;
    text-align:right;
    

    }
.header ul{
    list-style:none;
     margin:0;
    
      color:rgb(15, 15, 15);
      align-items: right;
    }
.header li{
    
    text-decoration:dashed;
     padding:8px;
      display:inline-block;
    }
.header h1{
        text-align:left;
        margin-bottom: 3rem;
        background-color: rgb(232, 177, 177);
    }

    body{
        width: auto;
        margin: auto;
    }